body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  letter-spacing: 1px;
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
  border-style: none none solid;
  margin-top: 0;
}

.card {
  text-align: center;
  background-color: hsl(216, 50%, 16%);
  width: 320px;
  margin: 6% auto 6% auto;
  padding: 25px;
  padding-bottom: 35px;
  border-radius: 12px;
    box-shadow: 0 0 100px 0px rgb(0 0 0 / 50%);
  height: 560px;
}

.head{
  float: left;
  margin-bottom: 1000px;
}
.equilibrium {
  position: absolute;
  width: 320px;
  border-radius: 10px;
}

.NFT-name {
  text-align: left;
  font-weight: 400;
  color: White;
  font-size: 135%;
  margin-bottom: 5px;
}

.description {
  text-align: left;
  color: hsl(215, 51%, 70%);
  margin-bottom: 10px;
}

.body {
  display: inline-block;
  margin-top:320px;
}

.eye{
  position: absolute;
  padding: 136px;
  background-color: rgb(0 255 255 / 55%);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.ethereum-icon {
  float: left;
  position: relative;
  top: 17px;
  margin-right: 8px;
}

.value {
  float: left;
  color: cyan;
}

.clock-icon {
  width: 7%;
  float: left;
  position: relative;
  top: 14px;
  left: 100px;
}

.time-left {
  position: relative;
  bottom: 4px;
  float: right;
  color: hsl(215, 51%, 70%);
  font-size: 110%;
  font-weight: 600;
}

.avatar-img {
  width: 40px;
  border-radius: 100%;
  border: 1px solid white;
  float: left;
}

.foot-text {
  text-align: left;
  font-size: 110%;
  position: relative;
  top: 10px;
  left: 12px;
  font-weight: 200;
  color: hsl(215, 51%, 70%);
}
.creator{
  color: white;
}
.creator:hover{
  color: cyan;
}
.NFT-name:hover{
  color: cyan;
}

.eye:hover{
  box-shadow: 0 0 100px 0px rgb(100 100 100 / 50%);
  opacity: 1;
  cursor: pointer;
}
